<!DOCTYPE html>
<html lang="en" ng-app="myindex">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/angular-1.0.1.min.js"></script>
    <script src="js/new.js"></script>
</head>
<body>
<h3>过滤器</h3>
<p>
    <input type="text" ng-model="yourname" placeholder="输入你的英文名">转换为大写
    {{yourname|uppercase}}
    <br>
    <input type="text" ng-model="othername" placeholder="输入你的英文名">转换为小写
    {{othername|lowercase}}
    <br>
    <input type="text" ng-model="price" placeholder="输入数字">
    {{price|currency}}
</p>
<hr>
<h3>orderBy排序，filter过滤器，查询</h3>
<div ng-controller="hellonoteCtrl">
    <span>URL:{{myUrl}}</span>
    <input type="text" ng-model="serach">
    <p ng-repeat="x in note|orderBy:'title'|filter:serach">
        <span>{{x.title}}{{x.content}}</span>
    </p>

</div>
<hr>
</body>
</html>